<h2>Your Game!!!</h2>

<div id="world">
  <% @tiles.each do |t| %>
    <div class="tile <%= t.player.color_one.downcase %> <%= 'territory' if t.territory == true %>" data-x="<%= t.x_cords %>" data-y="<%= t.y_cords %>"></div>
  <% end %>

  <% @castles.each do |b| %>
    <div class="castle <%= b.player.color_one.downcase %>" data-x="<%= b.x_cord %>" data-y="<%= b.y_cord %>"></div> 
  <% end %>
</div>

<div id="game-stats">
  <p>Money: $100<%= @this_game.player.stat.money %></p>
  <% @this_game.player.buildings.each do |b| %>
    <% if b.board_id == this_game.board_id %>
    <% @count += 1 %>
    <% end %>
  <% end %>
  <p>Houses: 1<%= @count %></p>
  <% @this_game.player.buildings.each do |b| %>
    <% if b.type == "Castle" || "House" %>
    <% @total += b.population %>
    <% end %>
  <% end %>
  <p>Population: 50<%= @total %></p>
  <p>Quests: 0<%= @this_game.player.stat.quests %></p>
</div>
