<h2>Your Game!!!</h2>

<div id="world">
  <% @tiles.each do |t| %>
    <div class="tile <%= t.player.color_one.gsub(" ", "") %> <%= 'territory' if t.territory == true %>" data-x="<%= t.x_cords %>" data-y="<%= t.y_cords %>"></div>
  <% end %>

  <% @castles.each do |b| %>
    <div class="castle <%= b.player.color_one.gsub(" ", "") %>" data-x="<%= b.x_cord %>" data-y="<%= b.y_cord %>"></div> 
  <% end %>
</div>

<div id="game-stats">
  <% @this_game.player.stats.each do |s| %>
    <% if s.board_id == @this_game.board_id %>
    <% @money = s.money %>
    <% end %>
  <% end %>
  <p>Money: $<%= @money%></p>

  <% @count = 0 %>
  <% @this_game.player.buildings.each do |b| %>
    <% if b.board_id == @this_game.board_id %>
    <% @count += 1 %>
    <% end %>
  <% end %>
  <p>Houses: <%= @count %></p>

  <% @total = 0 %>
  <% @this_game.player.buildings.each do |b| %>
    <% if b.type == "Castle" || "House" %>
    <% @total += b.population if !b.population.nil? %>
    <% end %>
  <% end %>
  <p>Population: <%= @total %></p>

  <% @this_game.player.stats.each do |s| %>
    <% if s.board_id == @this_game.board_id %>
    <% @quests = s.quests %>
    <% end %>
  <% end %>
  <p>Quests: <%= @quests %></p>
</div>
